.nav-link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color .3s ease;
}

.nav-link:hover,
:focus {
    color: var(--color-brand-normal);
}

.address-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    transition: color .3s;
}

.address-link:hover,
:focus {
    color: var(--color-brand-normal);
}

.address-social {
    fill: var(--color-primary-light);
    transition: fill .3s;
}

.address-social:hover,
:focus {
    fill: var(--color-brand-normal);
}