.backdrop {
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s, visibility .3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding: 120px;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    position: relative;
    overflow-y: auto;

}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
    background-color: var(--color-primary-light);
}

.modal-title {
    margin-bottom: 8px;
}

.modal-text {
    color: var(--color-brand-dark);
    margin-bottom: 72px;
    text-align: center;
}


/*********************** FORM ************************/


.form-field {
    margin-bottom: 32px;
    position: relative;
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
    /* font-size: 16px;
    line-height: 1.17;
    color: var(--color-secondary-dark);
    transition: transform .3s, color .3s; */
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    /* outline: none; */
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
    transition: color .3s;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

/* .form-input:focus + .form-label{
    transform: translate(-36px, -40px);
    color: var(--color-primary-dark);
} */

.form-btn {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    max-width: 220px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}