.contacts-section {
    padding-bottom: 96px;

    &__container {
            display: flex;
            gap: 32px;
        }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 48px;
    }

    &__form-field{
        margin-bottom: 24px;
    }

    &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
    }

    &__form-btn {
        display: block;
        margin: 0 auto 16px;
    }
}
