.form-field {
    margin-bottom: 32px;
    position: relative;
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
    /* font-size: 16px;
    line-height: 1.17;
    color: var(--color-secondary-dark);
    transition: transform .3s, color .3s; */
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    /* outline: none; */
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
    transition: color .3s;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

/* .form-input:focus + .form-label{
    transform: translate(-36px, -40px);
    color: var(--color-primary-dark);
} */

.form-btn {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    max-width: 220px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}