.tradition-section {
    padding-top: 40px;

    @media screen and (min-width: 1280px) {
        padding-top: 96px;
    }

    &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 24px;

            @media screen and (min-width: 1280px) {
                gap: 40px;
            }
        }
    
    &__content {
            max-width: 710px;
        }
    
    &__title {
            margin-bottom: 24px;

            @media screen and (min-width: 1280px) {
                margin-bottom: 42px;
            }
        }

    &__text {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        &--limited {
            max-width: 330px;
        }
    }

    &__image {
        display: none;
        border-radius: 400px 400px 0 0;

        @media screen and (min-width: 768px){
            display: block;
        }
        }
}







